#status-page {
	section {
		h2 {
			color: var(--color-text-primary);
			font-size: 1.25em;
			font-weight: 500;
			margin: 1em 0 0.5em;
			text-transform: capitalize;
		}
	}

	.server-card {
		margin-bottom: 0;
		max-width: 18.5rem;
		min-height: 4em;
		padding: 0.5em;

		display: grid;
		grid-template-areas:
			"host name version"
			"status status status";
		grid-template-rows: auto auto;
		grid-template-columns: auto 1fr auto;
		gap: 0.5em;
		align-items: baseline;

		.host-link {
			grid-area: host;
			color: var(--color-text-secondary);
			font-size: 1em;
			text-decoration: none;

			&:hover {
				filter: invert();
			}
		}

		.server-name {
			grid-area: name;
			color: var(--color-text-primary);
			font-size: 1.1em;
			font-weight: 500;
			min-width: 0;
			overflow: hidden;
			text-align: left;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.version-container {
			grid-area: version;
			color: var(--color-text-secondary);
		}

		.status-dots {
			grid-area: status;
			font-size: 1.2em;
			display: flex;
		}
	}
}
