.group-version {
	color: var(--color-text-primary);
	.version-patch {
		color: var(--color-text-light);
	}
}

.grouped-version {
	color: var(--color-text-light);
	.version-patch {
		color: var(--color-text-primary);
	}
}
