<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
  html {
    font-family: sans-serif;
  }

  td, th {
    padding: 0.5em;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
  }

  th, .success, .failure {
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
  }

  .status.up {
    background: green;
    color: white;
  }

  .status.down {
    background: red;
    color: white;
  }

  .status.gone {
    background: black;
    color: white;
  }

  .status.away {
    background: orange;
    color: black;
  }

  .status.blip {
    background: yellow;
    color: black;
  }

  .ago {
    white-space: pre;
    text-decoration: underline dotted;
  }

  .versions {
    color: grey;
    margin-left: 1em;
  }

  tr[data-kind="facility"] {
    opacity: 0.75;
    font-size: 0.95em;

    & .name, & .host {
      font-size: 0.85em;
    }
  }
  </style>
</head>
<body>
  <p>
    {{ releases | length }} release branches in active use:
    <b>{% for r in releases %}{{ r[0] }}.{{ r[1] }} {% endfor %}</b>
    <span class=versions>({{ versions | length }} versions:
      <b>{{ bracket.min }}</b>
      —
      <b>{{ bracket.max }}</b>)</span>
  </p>
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Rank</th>
        <th>Host</th>
        <th>Version</th>
        <th>Platform</th>
        <th>Postgres</th>
        <th>Timezone</th>
        <th>Last seen</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr data-id="{{ entry.server.id }}" data-kind="{{ entry.server.kind }}">
        <td class="status {{ entry.up }}">{{ entry.up | capitalize }}</td>
        <td class="name">{{ entry.server.name }}</td>
        <td class="rank">{{ entry.server.rank }}</td>
        <td class="host"><a href="{{ entry.server.host }}">{{ entry.server.host }}</a></td>
        {% if entry.status %}
          <td class="version">{{ entry.status.version }}</td>
          <td class="platform">{{ entry.platform }}</td>
          <td class="postgres">{{ entry.postgres }}</td>
          <td class="timezone">
            {% if entry.status.extra %}
              {{ entry.status.extra.timezone }}
            {% endif %}
          </td>
          <td class="ago" title="{{ entry.status.created_at }}">{{ entry.since }} minutes ago</td>
        {% else %}
          <td colspan=5></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
  window.addEventListener("load", () =>
    document.querySelectorAll("tr[data-id]").forEach(el =>
      el.addEventListener("click", e =>
        e.shiftKey && navigator.clipboard?.writeText(el.dataset.id)
      )
    )
  );
  </script>
</body>
</html>
