<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
  td, th {
    padding: 0.5em;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
  }

  th, .success, .failure {
    font-weight: bold;
  }

  table {
    border-collapse: collapse;
  }

  .success {
    background: green;
    color: white;
  }

  .failure {
    background: red;
    color: white;
  }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Success</th>
        <th>Version</th>
        <th>Rank</th>
        <th>Host</th>
        <th>Latency</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody>
      {% for server in servers %}
      <tr>
        <td>{{ server.1.name }}</td>
        {% if server.0.error %}
        <td class=failure>No</td>
        <td></td>
        <td>{{ server.1.type }}</td>
        <td><a href="{{ server.1.host }}">{{ server.1.host }}</a></td>
        <td></td>
        <td>{{ server.0.error }}</td>
        {% else %}
        <td class=success>Yes</td>
        <td>{{ server.0.version }}</td>
        <td>{{ server.1.type }}</td>
        <td><a href="{{ server.1.host }}">{{ server.1.host }}</a></td>
        <td>{{ server.0.latency_ms }}ms</td>
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>

