name: CI

on:
  merge_group:
  pull_request:
  push:
    branches: [main]
    tags: ["v*.*.*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse
  LEPTOS_OUTPUT_NAME: private-server
  SERVER_FN_MOD_PATH: "true"
  DISABLE_SERVER_FN_HASH: "true"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Free up space
        run: sudo rm -rf /opt/hostedtoolcache /usr/share/dotnet /usr/local/lib/android /opt/ghc /usr/local/.ghcup || true
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Configure toolchain
        run: |
          rustup toolchain install --profile minimal --no-self-update stable
          rustup default stable
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql --command="CREATE ROLE meta SUPERUSER LOGIN PASSWORD 'meta'"
          sudo -u postgres createdb --owner=meta meta
      - uses: Swatinem/rust-cache@v2
      - run: cargo nextest run
        env:
          DATABASE_URL: postgresql://meta:meta@localhost:5432/meta

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Free up space
        run: sudo rm -rf /opt/hostedtoolcache /usr/share/dotnet /usr/local/lib/android /opt/ghc /usr/local/.ghcup || true
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Configure toolchain
        run: |
          rustup toolchain install --profile minimal --no-self-update stable
          rustup default stable
          rustup component add clippy
      - uses: taiki-e/install-action@v2
        with:
          tool: just
      - uses: Swatinem/rust-cache@v2
      - run: just lint
